@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
@layer utilities {
  .auto-grid-200 {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  .btn-add-to-cart {
    position: relative;
    top: -20px;
  }

  .btn-add-to-cart:hover::after {
    transform: translateY(0) rotateX(0);
  }
  .btn-add-to-cart:active::after {
    scale: 0.95;
    transform-origin: center;
    transition: 0.05s;
  }
  .btn-add-to-cart:hover::before {
    transform: translateY(50%) rotateX(90deg);
  }

  .btn-add-to-cart::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 110px;
    padding: 0.1rem 0rem;
    font-size: 0.5rem;
    content: url("../images/cart-24.png");
    transition: 0.3s;
    transform: translateY(-50%) rotateX(90deg);
    background-color: var(--thirdClr);
  }
  .btn-add-to-cart::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 110px;
    padding: 0.1rem 0rem;
    content: "Add to cart";
    transition: 0.3s;
    transform: translateY(0) rotateX(0);
    background-color: var(--primary);
    border: 2px solid var(--thirdClr);
    color: var(--secondary);
  }
}

/** original root */
/* :root {
  --primary: #fff0f0;
  --secondary: #333333;
  --thirdClr: #1fb5b5;
  --fourthClr: #db671a;
} */
/** original root */

/* new root */
/* :root {
  --primary: #fbf5f5;
  --secondary: #29292d;
  --thirdClr: #1fb5b5;
  --thirdClrDark: #006161;
} */
/* new root */

/* third root */
:root {
  --primary: #fbf5f5;
  --secondary: #242431;
  --thirdClr: #1fb5b5;
  --thirdClrDark: #006161;
  /* --thirdClrDark: #006161; */
}
/* third root */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  /* todo: add font family */
  background-color: var(--bg-color);
  color: var(--text-color);
}

h1,
h2 {
  text-align: center;
  padding: 2rem 0;
  font-size: 1.5rem;
  /* todo: add font family */
}

button {
}

a {
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  /* html {
    color-scheme: dark;
  } */
  .dark .btn-add-to-cart::after {
    background-color: var(--thirdClrDark);
    content: url("../images/cart-24-white.png");
  }
  .dark .btn-add-to-cart::before {
    background-color: var(--secondary);
    color: var(--primary);
    border: 2px solid var(--thirdClrDark);
  }
}
